// Piano Hero
// Copyright (c)2006 Nicholas Piegdon
// See license.txt for license information

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#define IDC_STATIC -1
#include <winresrc.h>
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN_ICON           ICON        "..\\Piano Hero Icon.ico"

TitleLogo               GRAPHICS    "..\\graphics\\title_Logo.tga"
InterfaceButtons        GRAPHICS    "..\\graphics\\InterfaceButtons.tga"

KeyboardHelp            GRAPHICS    "..\\graphics\\play_Keys.tga"
GameMusicThemes         GRAPHICS    "..\\graphics\\title_GameMusicThemes.tga"

ButtonRetrySong         GRAPHICS    "..\\graphics\\score_RetrySong.tga"
ButtonChooseTracks      GRAPHICS    "..\\graphics\\title_ChooseTracks.tga"
ButtonExit              GRAPHICS    "..\\graphics\\title_Exit.tga"
ButtonBackToTitle       GRAPHICS    "..\\graphics\\tracks_BackToTitle.tga"
ButtonPlaySong          GRAPHICS    "..\\graphics\\tracks_PlaySong.tga"

InputBox                GRAPHICS    "..\\graphics\\title_InputBox.tga"
OutputBox               GRAPHICS    "..\\graphics\\title_OutputBox.tga"
SongBox                 GRAPHICS    "..\\graphics\\title_SongBox.tga"

TrackBox                GRAPHICS    "..\\graphics\\trackbox.tga"

StatsText               GRAPHICS    "..\\graphics\\stats_text.tga"

PlayStatus              GRAPHICS    "..\\graphics\\play_Status.tga"
PlayStatus2             GRAPHICS    "..\\graphics\\play_Status2.tga"
PlayKeys                GRAPHICS    "..\\graphics\\play_Keys.tga"

PlayNotesBlackColor     GRAPHICS    "..\\graphics\\play_NotesBlackColor.tga"
PlayNotesBlackShadow    GRAPHICS    "..\\graphics\\play_NotesBlackShadow.tga"
PlayNotesWhiteColor     GRAPHICS    "..\\graphics\\play_NotesWhiteColor.tga"
PlayNotesWhiteShadow    GRAPHICS    "..\\graphics\\play_NotesWhiteShadow.tga"

PlayKeyRail             GRAPHICS    "..\\graphics\\play_KeyRail.tga"
PlayKeyShadow           GRAPHICS    "..\\graphics\\play_KeyShadow.tga"
PlayKeysBlack           GRAPHICS    "..\\graphics\\play_KeysBlack.tga"

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#define IDC_STATIC -1\r\n"
    "#include <winresrc.h>\r\n"
    "\r\n"
    "\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
